*.swp
*.pyc
.env/*
.vscode
__pycache__
cifar-10*
.DS_Store
final
*.pdf
*.zip

#hw1
CS280_Spring24_hw1/README.md

#hw2
CS280_Spring24_hw2/README.md
CS280_Spring24_hw2/Homework2_PartB/cs231n/build

#hw3
datasets